In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas as pd

import gsea
import kwat

In [6]:
with open("data/test_sarcopenia/Sarcopenia_bianry.cls") as io:

    io.readline()

    io.readline()

    ta = np.array([1 - int(la) for la in io.readline().strip().split()])

pd.value_counts(ta)

1    20
0    20
dtype: int64

In [7]:
sc_el_sa = pd.read_csv(
    "data/test_sarcopenia/GSE111016_allSamplesCounts_htseqcov1_sss_forGEO.Sarcopenia.vs.Normal_counts_collapsed_to_symbols.gct",
    skiprows=2,
    sep="\t",
    index_col=0,
).drop("DESCRIPTION", axis=1)

sc_el_sa

,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8,Sample 9,Sample 10,...,Sample 31,Sample 32,Sample 33,Sample 34,Sample 35,Sample 36,Sample 37,Sample 38,Sample 39,Sample 40
NAME,,,,,,,,,,,,,,,,,,,,,
SNORD121B,0.000000,0.000000,0.000000,0.889672,0.000000,0.000000,0.000000,0.927839,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.705252,0.000000,0.000000,0.000000,0.000000,3.723816,0.000000
HTR4,6.621488,9.377074,8.781934,13.345077,14.159488,5.684906,21.512527,11.134069,13.752375,27.612345,...,15.041556,19.456907,14.929236,10.821009,9.264257,19.864464,13.290525,14.202050,23.273850,14.647224
SNORD121A,5.675561,2.557384,0.000000,6.227703,7.964712,7.309164,9.101454,5.567035,7.405125,6.442880,...,6.016623,5.120239,6.398244,8.115756,2.779277,7.567415,4.089392,12.426794,11.171448,9.416073
HTR6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.827405,0.000000,0.000000,0.920411,...,0.000000,0.000000,0.000000,0.000000,0.926426,0.000000,0.000000,0.000000,0.930954,0.000000
HTR7,52.025978,69.901825,26.345802,72.953090,69.027504,95.019135,38.060627,26.907335,77.224880,130.698430,...,76.210550,38.913815,44.787710,81.157560,75.040490,107.835660,61.340885,83.437040,107.059710,57.542667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CLK2P1,21.756317,25.573840,14.051094,16.014091,21.239231,17.866846,13.238479,14.845427,17.983875,22.089876,...,27.074800,12.288573,17.061985,13.526260,13.896386,17.026684,17.379917,7.101025,14.895264,16.739685
BAX,87.025270,91.213356,86.062950,90.746520,92.921640,99.079780,91.841940,79.794170,97.324500,124.255550,...,107.296430,68.611200,72.513435,82.510185,83.378320,100.268250,87.921936,83.437040,87.509674,91.022040
AQP11,9.459269,8.524613,15.807481,13.345077,11.504583,16.242586,21.512527,14.845427,16.926000,11.965349,...,10.027704,11.264525,6.398244,4.057878,20.381367,14.188903,14.312873,12.426794,11.171448,8.369843
OR9N1P,2.837781,0.852461,0.000000,0.000000,0.884968,0.000000,0.000000,0.000000,0.000000,1.840823,...,0.000000,0.000000,1.066374,0.000000,0.000000,0.945927,0.000000,0.000000,0.000000,1.046230
ABCE1,832.415650,999.084660,890.488100,1040.916000,880.543150,860.857100,851.399660,967.736200,907.656740,831.131530,...,716.980830,831.526800,831.771700,849.449160,955.144960,879.712000,935.448500,980.829040,812.722840,840.122900

In [8]:
se_el_ = kwat.gmt.read(
    ["data/test_sarcopenia/c2.cp.wikipathways.v7.4.symbols.gmt"]
)

len(se_el_)

615

In [11]:
el_sc = gsea.compare_with_target(ta, sc_el_sa, "signal_to_noise")

el_sc

NAME
LINC02685    -2.049539
FAM197Y2     -2.049539
BCRP9        -2.039005
FAM47B       -2.039005
LINC02213    -2.039005
                ...
ZNF736P10Y    1.967026
RN7SL820P     1.982279
LINC01055     1.997044
RPL7AP7       2.030496
RN7SL271P     2.030496
Name: get_signal_to_noise, Length: 33994, dtype: float64

In [12]:
pr_en_se_st = gsea.run_prerank_gsea(
    el_sc,
    se_el_,
    n_pe=10,
)

pr_en_se_st

Selected 615 sets (5 <= size <= 500).
Permuting sets to compute p-values...
  1/10
  2/10
  3/10
  4/10
  5/10
  6/10
  7/10
  8/10
  9/10
  10/10

In [13]:
gs_en_se_st = gsea.run_gsea(
    ta,
    sc_el_sa,
    se_el_,
    n_pe=10,
)

gs_en_se_st

Selected 615 sets (5 <= size <= 500).
Permuting labels to compute p-values...
  1/10
  2/10
  3/10
  4/10
  5/10
  6/10
  7/10
  8/10
  9/10
  10/10

                                    Enrichment  P-Value  Q-Value
WP_MITOCHONDRIAL_CIII_ASSEMBLY        0.872826      0.1      1.0
WP_DISORDERS_OF_THE_KREBS_CYCLE       0.855248      0.1      1.0
WP_TCA_CYCLE_IN_SENESCENCE            0.829378      0.1      1.0
WP_OXIDATIVE_PHOSPHORYLATION          0.824625      0.1      1.0
WP_MITOCHONDRIAL_CIV_ASSEMBLY         0.812253      0.1      1.0
...                                        ...      ...      ...
WP_BENZOAPYRENE_METABOLISM           -0.746587      0.1      1.0
WP_NICOTINE_METABOLISM               -0.760000      0.1      1.0
WP_CODEINE_AND_MORPHINE_METABOLISM   -0.778642      0.1      1.0
WP_IRINOTECAN_PATHWAY                -0.805215      0.1      1.0
WP_ARYLAMINE_METABOLISM              -0.863143      0.1      1.0

[615 rows x 3 columns]